---
layout: standard_layout.hbs
---
<section>
    <header>
        <h1>About The Product</h1>
    </header>
    <p>
        It's super-awesome! <a href="/buy-smjwidget.html">Buy an SMJWidget now</a>!
    </p>
</section>
