---
layout: standard_layout.hbs
---
<section>
    <header>
        This is it. The home of the cheapest SMJWidgets on the web.
    </header>
    <p>
        Do it! <a href="/buy-smjwidget.html">Buy an SMJWidget now</a>!
    </p>
    <p>
        Not ready yet? <a href="/about-smjwidget.html">Learn more about our SMJWidget</a>.
    </p>
</section>
